<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>aboutus</title>
    <link rel="stylesheet" href="../about_assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../about_assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../about_assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../about_assets/css/best-carousel-slide.css">
    <link rel="stylesheet" href="../about_assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="../about_assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="../about_assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="../about_assets/css/styles.css">
    <link rel="stylesheet" href="../about_assets/css/Team-Grid.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><img style="width: 83px;height: 69px;" src="../about_assets/img/powercorp.png"><a class="navbar-brand" href="#" style="padding-left: 20px;">PowerCorp</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
		    <li class="nav-item"><a class="nav-link" href="https://161.97.134.238:5000/">Main Page</a></li>
                    <li class="nav-item"><a class="nav-link activate" href="https://161.97.134.238:5000/about">About us</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://161.97.134.238:5000/team">Our team</a></li>
                </ul><span class="navbar-text actions"> <a class="btn btn-light action-button" role="button" href="https://161.97.134.238:5000/login">Login</a></span>
            </div>
        </div>
    </nav>
    <section class="features-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">About this dope company</h2>
                <p class="text-center">Yeah I guess I wanna fill the website a bit. Not that this page is gonna help you achieve anything, nah. But hey, I lost time doing that, you can lose some of your time reading this, right ?</p>
            </div>
            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-map-marker icon"></i>
                        <h3 class="name">We do things, everywhere</h3>
                        <p class="description">Yeah, you heard about télétravail ?</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-clock-o icon"></i>
                        <h3 class="name">A clock is a clock</h3>
                        <p class="description">Of course it is</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-list-alt icon"></i>
                        <h3 class="name">Some program</h3>
                        <p class="description">Heyyy, it's kinda what we do. kinda yeah.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-leaf icon"></i>
                        <h3 class="name">A leaf</h3>
                        <p class="description">Comes from a tree. Did it make you think we were ecologist ? We are not. We do AI, which is really not eco friendly as youngsters say.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-plane icon"></i>
                        <h3 class="name">Plane</h3>
                        <p class="description">Not eco friendly as well.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-phone icon"></i>
                        <h3 class="name">Phones ?</h3>
                        <p class="description">We REALLY, REAAAALLY like phones.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="team-grid"></section>
    <footer class="footer-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Super clever AI</a></li>
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Hosting</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>PowerCorp</h3>
                    <p>We do things. A lot of things. I don't know, who do you think did the website you're browsing huh ?&nbsp;</p>
                </div>
                <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">This was so annoying to develop by the way © 2021, iHuggsy</p>
        </div>
    </footer>
    <script src="../about_assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
