<script src="//cdn.socket.io/socket.io-3.0.5.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on('connect', function() {
        socket.emit('message', {data: 'I\'m connected!'});
    });
</script>
<a> Hello bitch ! Welcome to hell ! </a>
<body>
<div id="container">
	<video autoplay="true" id="videoElement">
	
</div>

<img id="videoElement2">

</body>
<script>

function _arrayBufferToBase64( buffer ) {
  var binary = '';
  var bytes = new Uint8Array( buffer );
  var len = bytes.byteLength;
  for (var i = 0; i < len; i++) {
     binary += String.fromCharCode( bytes[ i ] );
  }
  return window.btoa( binary );
}

var video = document.querySelector("#videoElement");
var video2 = document.querySelector("#videoElement2");

async function execute1(video)
{
  while (true)
  {
    await new Promise(resolve => setTimeout(resolve, 3000));

    var canvas = document.createElement('canvas');
    canvas.height = video.videoHeight;
    canvas.width = video.videoWidth;
    var ctx = canvas.getContext('2d');
    ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
    var img = new Image();
    img.src = canvas.toDataURL();
    console.log(img.src)
    socket.emit('stream', {data: img.src});
  }
}

async function draw_vid(img)
{
	video2.src = img;
}

if (navigator.mediaDevices.getUserMedia) 
{
	navigator.mediaDevices.getUserMedia({ video: true })
		.then(function (stream) {
	video.srcObject = stream;
	execute1(video);
}).catch(function (err0r) {
      console.log("Something went wrong!");
    });
}

socket.on("streamback", function(data) {
	console.log('Server response : ')
	source = _arrayBufferToBase64(data.data)
	console.log(source)
	video2.src = 'data:image/png;base64, ' + atob(source);
	
});

</script>
