<!DOCTYPE html>
<html lang="en">

<script src="//cdn.socket.io/socket.io-3.0.5.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on('connect', function() {
        socket.emit('message', {data: 'I\'m connected!'});
    });
</script>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>login</title>
    <link rel="stylesheet" href="../login_assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../login_assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../login_assets/css/best-carousel-slide.css">
    <link rel="stylesheet" href="../login_assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="../login_assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="../login_assets/css/styles.css">
    <link rel="stylesheet" href="../login_assets/css/Team-Grid.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><img style="width: 83px;height: 69px;" src="../login_assets/img/powercorp.png"><a class="navbar-brand" href="#" style="padding-left: 20px;">PowerCorp</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link active" href="https://161.97.134.238:5000/">Main Page</a></li>
                    <li class="nav-item"><a class="nav-link active" href="https://161.97.134.238:5000/about">About us</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://161.97.134.238:5000/team">Our team</a></li>
                </ul><span class="navbar-text actions"> <a class="btn btn-light action-button" role="button" href="https://161.97.134.238:5000/login">Login</a></span>
            </div>
        </div>
    </nav>
    <section class="team-grid" style="padding-bottom: 13px;">
	<a> {{ failure }} </a>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
			<video autoplay="true" id="videoElement">
		</div>
                <div class="col-md-6">
			<img id="videoElement2">			
			<button class="btn btn-primary" type="button" onclick="send_to_auth()">Authenticate</button>
		</div>
            </div>
        </div>
    </section>
    <footer class="footer-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Super clever AI</a></li>
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Hosting</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>PowerCorp</h3>
                    <p>We do things. A lot of things. I don't know, who do you think did the website you're browsing huh ?&nbsp;</p>
                </div>
                <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">This was so annoying to develop by the way © 2021, iHuggsy</p>
        </div>
    </footer>
    <script src="../login_assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>

<script>

function send_to_auth()
{
	console.log('Authenticating ....');
	var canvas = document.createElement('canvas');
   	canvas.height = video.videoHeight;
   	canvas.width = video.videoWidth;
   	var ctx = canvas.getContext('2d');
   	ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
   	var img = new Image();
   	img.src = canvas.toDataURL();
//   	console.log(img.src)
   	socket.emit('authentication', {data: img.src});		
}

function _arrayBufferToBase64( buffer ) {
  var binary = '';
  var bytes = new Uint8Array( buffer );
  var len = bytes.byteLength;
  for (var i = 0; i < len; i++) {
     binary += String.fromCharCode( bytes[ i ] );
  }
  return window.btoa( binary );
}

var video = document.querySelector("#videoElement");
var video2 = document.querySelector("#videoElement2");

async function execute1(video)
{
  while (true)
  {
    await new Promise(resolve => setTimeout(resolve, 3000));

    var canvas = document.createElement('canvas');
    canvas.height = video.videoHeight;
    canvas.width = video.videoWidth;
    var ctx = canvas.getContext('2d');
    ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
    var img = new Image();
    img.src = canvas.toDataURL();
//    console.log(img.src)
    socket.emit('stream', {data: img.src});
  }
}

async function draw_vid(img)
{
        video2.src = img;
}

if (navigator.mediaDevices.getUserMedia)
{
        navigator.mediaDevices.getUserMedia({ video: true })
                .then(function (stream) {
        video.srcObject = stream;
        execute1(video);
}).catch(function (err0r) {
      console.log("Something went wrong!");
    });
}

socket.on("streamback", function(data) {
//        console.log('Server response : ')
        source = _arrayBufferToBase64(data.data)
//        console.log(source)
        video2.src = 'data:image/png;base64, ' + atob(source);

});

socket.on("authentication", function(data)
{
	if (data.data == "yes")
	{
		console.log("YEAH BITCH !")
		window.location.href = 'https://161.97.134.238:5000/flagzz?nonce=' + data.nonce
	}
	else
	{
		console.log("NO WAY BITCH !")
		window.location.href = 'https://161.97.134.238:5000/flagzz'
	}
	
});

</script>
