<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ourteam</title>
    <link rel="stylesheet" href="../team_assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../team_assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../team_assets/css/best-carousel-slide.css">
    <link rel="stylesheet" href="../team_assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="../team_assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="../team_assets/css/styles.css">
    <link rel="stylesheet" href="../team_assets/css/Team-Grid.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><img style="width: 83px;height: 69px;" src="../team_assets/img/powercorp.png"><a class="navbar-brand" href="#" style="padding-left: 20px;">PowerCorp</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" href="https://161.97.134.238:5000/">Main Page</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://161.97.134.238:5000/about">About us</a></li>
                    <li class="nav-item"><a class="nav-link activate" href="https://161.97.134.238:5000/team">Our team</a></li>
                </ul><span class="navbar-text actions"> <a class="btn btn-light action-button" role="button" href="https://161.97.134.238:5000/login">Login</a></span>
            </div>
        </div>
    </nav>
    <section class="team-grid">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">The best team in the world. Period.</h2>
                <p class="text-center">Yeah, at PowerCorp we like being braggy about what we do. You don't like it ? Just click on the little x on the top right of your screen. I promise it won't hurt.</p>
            </div>
            <div class="row people">
                <div class="col-md-4 col-lg-3 item">
                    <div class="box" style="background-image:url(../team_assets/img/1.jpg)">
                        <div class="cover">
                            <h3 class="name">Ralph Toupeegum</h3>
                            <p class="title">CEO</p>
                            <div class="social"><a href="#"></a><a href="#"></a><a href="#"></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 item">
                    <div class="box" style="background-image:url(../team_assets/img/2.jpg)">
                        <div class="cover">
                            <h3 class="name">Lana Mlem</h3>
                            <p class="title">Designer</p>
                            <div class="social"><a href="#"></a><a href="#"></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 item">
                    <div class="box" style="background-image:url(../team_assets/img/3.jpg)">
                        <div class="cover">
                            <h3 class="name">Robert Frips</h3>
                            <p class="title">Developper</p>
                            <div class="social"><a href="#"></a><a href="#"></a><a href="#"></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 item">
                    <div class="box" style="background-image:url(../team_assets/img/4.jpg)">
                        <div class="cover">
                            <h3 class="name">Hannah Hiris</h3>
                            <p class="title">She makes great coffee tbh</p>
                            <div class="social"><a href="#"></a><a href="#"></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Super clever AI</a></li>
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Hosting</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>PowerCorp</h3>
                    <p>We do things. A lot of things. I don't know, who do you think did the website you're browsing huh ?&nbsp;</p>
                </div>
                <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">This was so annoying to develop by the way © 2021, iHuggsy</p>
        </div>
    </footer>
    <script src="../team_assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
