<!DOCTYPE html>
<html>
<head>
  <title>Rerecaptcha</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/ressources/style.css">
</head>
<body>
  <div class="login-page">
    <img src="/static/ressources/meme.jpg" class="center">
  </div>
<br>
<div class="index">Even if my password
	<a class="index" href="https://github.com/danielmiessler/SecLists/tree/master/Passwords/Common-Credentials/500-worst-passwords.txt">isn't very good</a> 
  you'll never be able to connect to my admin account, I've installed a homemade Captcha !
</div>
<br>
<div class="index">
  <button class="index" onclick="location.href='/login';">Login</button>
</div>
</body>
</html>

